<ul class="article-list">
  <li *ngFor="let article of list">
    <a routerLink="['/article-item', article.id']">
      <h1 class="text-center">{{article.title}}</h1>
      <h6 class="text-center">{{article.author}}/{{article.publishedAt}}</h6>
    </a>
  </li>
</ul>
<!--<ul class="article-list">
  <li class="article-item">
    <a routerLink="/article-item">
      <h1 class="text-center">Article Name</h1>
      <h6 class="text-center">Article Author/Date</h6>
    </a>
  </li>
  <li class="article-item">
    <a routerLink="/article-item">
      <h1 class="text-center">Article Name</h1>
      <h6 class="text-center">Article Author/Date</h6>
    </a>
  </li>
  <li class="article-item">
    <a routerLink="/article-item">
      <h1 class="text-center">Article Name</h1>
      <h6 class="text-center">Article Author/Date</h6>
    </a>
  </li>
  <li class="article-item">
    <a routerLink="/article-item">
      <h1 class="text-center">Article Name</h1>
      <h6 class="text-center">Article Author/Date</h6>
    </a>
  </li>
  <li class="article-item">
    <a routerLink="/article-item">
      <h1 class="text-center">Article Name</h1>
      <h6 class="text-center">Article Author/Date</h6>
    </a>
  </li>
</ul>-->
