<ul class="news-sources">
  <li class="news-item">
    <img class="img-responsive" src="http://placehold.it/200x50" alt="Placeholder Image">
  </li>
  <li class="news-item">
    <img class="img-responsive" src="http://placehold.it/200x50" alt="Placeholder Image">
  </li>
  <li class="news-item">
    <img class="img-responsive" src="http://placehold.it/200x50" alt="Placeholder Image">
  </li>
  <li class="news-item">
    <img class="img-responsive" src="http://placehold.it/200x50" alt="Placeholder Image">
  </li>
  <li class="news-item">
    <img class="img-responsive" src="http://placehold.it/200x50" alt="Placeholder Image">
  </li>
</ul>
