html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #000000;
  height: 5em;
  width: 100%;
}
header h2 {
  margin-top: 0;
  color: #ffffff;
  text-align: center;
}
ul.news-sources {
  list-style: none;
}
ul.news-sources li.news-item {
  margin: 0.313em;
  border: 1px solid #cccccc;
  padding: 0.313em;
}
ul.news-sources li.news-item:hover {
  background-color: #a9a9a9;
}
