html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #000000;
  height: 6em;
  width: 100%;
}
header h1 {
  margin-top: 0;
  color: #ffffff;
  text-align: center;
}
ul.news-sources {
  list-style: none;
}
ul.news-sources li.news-item {
  margin: 0.313em;
  border: 1px solid #cccccc;
  padding: 0.313em;
}
ul.news-sources li.news-item:hover {
  background-color: #a9a9a9;
}
ul.article-list {
  list-style: none;
}
ul.article-list li.article-item {
  padding: 0.500em;
  border: 1px solid #cccccc;
}
ul.article-list li.article-item:hover {
  background-color: #cccccc;
}
ul.article-list li.article-item a {
  text-decoration: none;
  color: #000000;
}
ul.article-list li.article-item a:hover {
  cursor: pointer;
}
div.article-item {
  border: 1px solid #000000;
  margin-top: 0.313em;
}
div.article-item h1.article-title {
  text-decoration: underline;
}
div.article-item h6.date {
  color: #cccccc;
}
div.article-item p.article-excerpt {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  line-height: 1em;
}
div.article-item a.back-link {
  padding: 0.313em;
  background-color: #000000;
  border: 1px solid #1a1a1a;
  border-radius: 0.313em;
  color: #ffffff;
  text-decoration: none;
}
div.article-item a.back-link:hover {
  transition: 0.5s ease-in-out;
  background-color: #333333;
}
