@black: #000;
@white: #fff;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: @black;
  height: 80px;
  width: 100%;

  h2 {
    margin-top: 0;
    padding-top: 20px;
    color: @white;
    text-align: center;
  }
}
